@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
@import 'vars';

/* apply a natural box layout model to all elements, but allowing components to change - source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  font-size: 10px;
  width: 100%;
  width: 100vw;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Work Sans', Helvetica, sans-serif;
  color: $dk-grey;
  font-weight: 400;
  width: 100%;
  background: white;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ffffff;
}

.index {
  flex: 1;
}

a {
  color: $red;
  transition: color 300ms;
  text-decoration: none;

  &:visited {
    color: $red;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
