@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
@import 'vars';

/* apply a natural box layout model to all elements, but allowing components to change - source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Work Sans', Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  color: $dk-grey;
  font-weight: 400;
}

.container {
  width: 95%;
  margin: 0 auto;
}
