@import 'vars';

.footer {
  padding: 2rem 0;
  background: $dk-grey;
  color: $lt-grey;
  display: flex;
  width: 100%;
  align-self: end;
}

.footer__subhead {
  font-weight: 400;
  font-size: 1.8rem;

  a {
    color: $red;

    &:hover {
      color: $red;
    }
  }
}

.footer__links {
  display: block;
  margin: .5em 0 0;
  padding: 0;
  font-size: 1.4rem;

  li {
    display: inline-block;
    list-style: none;
    margin-left: 2rem;

    &:first-of-type {
      margin-left: 0;
    }

    a {
      color: $md-grey;

      &:hover {
        color: $lt-grey;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer__subhead {
    font-size: 2.4rem;
  }
}
