@import 'vars';

.footer {
  padding: 2rem 0;
}

.footer__subhead {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 5rem;
  margin: 0;
}

.footer__links {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;

  li {
    display: inline-block;
    list-style: none;
    margin-left: 2rem;

    &:first-of-type {
      margin-left: 0;
    }

    a {
      color: $md-grey;

      &:hover {
        color: $dk-grey;
      }
    }
  }
}
