@import 'vars';

.header {
  padding: 2rem 0;

  * {
    display: flex;
  }

  h1 {
    margin: 0 0 0 4rem;
    padding: 0;
    font-size: 4rem;
    line-height: 4rem;
  }

  .header__logo-container {
    width: 66%;
    align-items: center;
  }

  nav {
    width: 33%;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }

  ul {
    width: 100%;
  }

  li {
    font-size: 1.8rem;
    line-height: 4rem;
    text-align: center;
    width: 50%;
    justify-content: center;
    text-decoration: none;
    color: $md-grey;
    transition: color 200ms ease-in-out;
    cursor: pointer;

    &:first-of-type {
      padding: 0;
    }

    &:hover {
      color: $red;
    }
  }
}

.header__logo {
  height: 6rem;
  max-width: 100%;
}
