@import 'vars';

.project * {
  margin: 0;
  padding: 0;
}

.project__title {
  font-size: 3.6rem;
}

.project__subhead {
  color: $md-grey;
  font-size: 1.4rem;
}

.project__summary {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.project__metadata {
  background: $lt-grey;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.project__buttons {
  margin-top: 2rem;

  & .button {
    margin-left: 1rem;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.button {
  padding: 1rem 2rem;
  border: 2px solid $red;
  background: none;
  font-size: 1.4rem;
  display: inline-block;

  &:hover {
    border: 2px solid $red--hover;
  }
}
