@import 'vars';

.project {
  padding-top: 1rem;
  flex: 1;
}

.project__title {
  font-size: 2.8rem;
  line-height: 2.8rem;
}

.project__subhead {
  color: $md-grey;
  font-size: 1.4rem;
}

.project__summary {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.project__metadata {
  background: $lt-grey;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
}

.project__description {
  position: relative;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1.4rem;
}

.project__buttons {
  margin-top: 2rem;

  & .button {
    margin-left: 1rem;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.button {
  padding: 1rem 2rem;
  background: none;
  font-size: 1.4rem;
  display: inline-block;
  color: white !important;
  background: $red;
  transition: all 300ms;
  border: 2px solid $red;

  &.ghost {
    background: transparent;
    color: $md-grey !important;
    border: 2px solid lighten($md-grey, 20%);
    text-decoration: underline;
  }

  &:hover {
    background: $red--hover;
    border: 2px solid $red--hover;

    &.ghost {
      background: $md-grey;
      border: 2px solid $md-grey;
      color: white !important;
    }
  }
}

.project__next-link {
  margin: 2rem 0 0;
  display: inline-block;
  background: none;
  font-size: 1.4rem;
  color: $md-grey !important;

  svg {
    width: 8px;
    margin-left: 5px;
  }

  &:hover {
    color: $dk-grey !important;
  }
}

@media only screen and (min-width: 768px) {
  .project {
    padding-top: 2rem;
  }

  .project__title {
    font-size: 3.6rem;
    line-height: 3.8rem;
  }
}
